
@media(max-width:700px){
    .box{
        height: 40px;
        width: 40px;
        font-size: 20px;
        font-weight: 600;
    }
    h2{
        font-size: 25px;
    }
    .btm{
        font-size: 40px;
        flex-wrap: wrap;
        padding-left: 10px;
    }
    .circle{
        height: 40px;
        width: 40px;
        font-size: 20px;
        margin: 5px 5px;
        
    }
}
@media(max-width:800px){
    .btm{
        font-size: 40px;
    }
}

